<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("partials/cabecalho.ejs") %>
    <link rel="stylesheet" href="/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
   
</head>
<body>
    <div class="container">
        <div>
            <a href="/alunos/cadastrar">Cadastrar Aluno</a>
        </div>
    
        <div>
            <a href="/alunos">Lista de Alunos</a>
        </div>
    </div>
   
    
    

    

    <%- include("partials/rodape.ejs") %>
</body>
</html>