<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/cabecalho.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Objeto não encontado! (404)

    <%- include("partials/rodape.ejs") %>
</body>
</html>